<div class="container container-sm">
  <div class="row d-flex flex-wrap">
    <div
      class="d-flex align-items-center flex-column product col-sm-6 col-md-4"
      *ngFor="let product of products"
    >
      <a routerLink="product-detail/{{ product.id }}">
        <img class="product-image" src="{{ product.url }}" />
      </a>
      <div class="product-detail">
        <b>{{ product.name }}</b>
      </div>
      <div class="product-detail">$ {{ product.price }}</div>

      <form (ngSubmit)="handleAddItemToCart(product)">
        <select
          id="quantity"
          name="quantity"
          class="product-detail form-select"
          [(ngModel)]="product.quantity"
        >
          <option selected value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input
          type="submit"
          value="Add to Cart"
          class="product-detail btn btn-primary"
        />
      </form>
    </div>
  </div>
</div>
