<div class="confirmation-container">
  <div class="confirmation-container__items">
    <div class="confirmation-container__header confirmation-container__item">
      ORDER SUCCESSFULLY
    </div>
    <img src="../../../assets/images/payment-successful.png" />
    <div class="confirmation-container__item">
      Thank you, <b>{{ name }}</b>
    </div>
    <div class="confirmation-container__item">
      Your <b>${{ price }}</b> order is confirmed!
    </div>
    <div class="confirmation-container__item">
      Please allow 1-3 business day(s) for shipping
    </div>
    <div class="confirmation-container__item">
      <a routerLink="/"> Back to list product</a>
    </div>
  </div>
</div>
